doctype html
html
  head
    style
      include index.css
  body
    .frame
      input#r-1(type="radio" name="rd")
      input#r-2(type="radio" name="rd")
      input#r-3(type="radio" name="rd")
      .container
        label.circle(for="r-1")
        label.circle(for="r-2")
        label.circle(for="r-3")
        .active
      .bg
