:root {
  --frame: 400px;
  --color: white;
  --background: purple;
}

* {
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: var(--background);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.svg-circle {
  fill: none;
  stroke: var(--color);
  stroke-linecap: round;
  stroke-width: 3px;
  transform-origin: 50% 50%;
}

.circle,
label {
  position: absolute;
  top: 150px;
  left: 150px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  cursor: pointer;
}

label {
  z-index: 100;
}

.microphone {
  position: absolute;
  top: 16px;
  left: 38px;
  width: 24px;
  height: 66px;

  div {
    position: absolute;
    background: var(--color);
  }

  .stand {
    bottom: 0;
    left: 0;
    width: 24px;
    height: 4px;
    border-radius: 2px;
  }

  .pole {
    bottom: 0;
    left: 10px;
    width: 4px;
    height: 15px;
    border-radius: 2px;
  }

  .body {
    top: 0;
    left: 0;
    width: 24px;
    height: 52px;
    border-radius: 12px;

    .shadow {
      top: 8px;
      left: 9px;
      width: 6px;
      height: 16px;
      background: var(--background);
      border-radius: 3px;
    }
  }
}

.dots {
  position: absolute;
  top: 45px;
  left: 25px;
  width: 50px;
  height: 10px;
  opacity: 0;

  div {
    float: left;
    width: 10px;
    height: 10px;
    background: var(--color);
    border-radius: 5px;
  }

  .dot-2 {
    margin: 0 10px;
  }
}

input {
  display: none;

  &:checked ~ .circle {
    .microphone {
      animation: microphone 0.7s ease-in-out both;
      opacity: 0;
    }

    .svg-circle {
      animation: circle 4s linear infinite;
    }

    .dots {
      animation: dots 1s ease-in-out both;
    }

    .dot-1 {
      animation: dot 1s ease-in-out infinite;
    }

    .dot-2 {
      animation: dot 1s ease-in-out -0.2s infinite;
    }

    .dot-3 {
      animation: dot 1s ease-in-out -0.4s infinite;
    }
  }
}

@keyframes circle {
  0% {
    stroke-dasharray: 296px;
    stroke-dashoffset: 0;
    transform: rotate(0deg);
  }

  100% {
    stroke-dasharray: 296px;
    stroke-dashoffset: -592px;
    transform: rotate(360deg);
  }
}

@keyframes dot {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes dots {
  0%,
  60% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes microphone {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  30% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}
