doctype html
html
  head
    style
      include index.css
  body
    .frame
      .button(onclick="void(0);")
        span Hover Me
        svg(width="180" height="60")
          polyline(points="179,1 179,59 1,59 1,1 179,1" id="border")
          polyline(points="179,1 179,59 1,59 1,1 179,1" id="bling")
