<svg width="151px" height="72px" viewBox="0 0 151 72" class="cloud-big" fill="#fff">
<path d="M12,71.8582223 C5.21541172,70.887763 0,65.0529438 0,58 C0,50.2680135 6.2680135,44 14,44 C15.3034487,44 16.565293,44.1781294 17.7625178,44.511373 C20.1480326,36.1342487 27.857651,30 37,30 C39.1595118,30 41.2390844,30.3422606 43.187432,30.9754962 C46.9847055,22.7265377 55.3236005,17 65,17 C65.5109562,17 66.0181831,17.0159673 66.5212088,17.0474302 C72.3931883,6.85865633 83.3956316,0 96,0 C110.201562,0 122.369492,8.70701098 127.456714,21.0739554 C140.625729,22.0732453 151,33.0751022 151,46.5 C151,60.4162144 139.852491,71.7287886 126,71.9951959 L126,72 L12,72 L12,71.8582223 Z"></path>
</svg>
