doctype html
html
  head
    style
      include index.css
  body
    .frame
      input#radio(type="checkbox")
      .line-up
      .menu
        label(for="radio") home
        label(for="radio") work
        label(for="radio") life
        label(for="radio") spirit
      .line-down
