doctype html
html
  head
    style
      include index.css
  body
    .frame
      .quote
        quote.quote-text
          | The cradle rocks above an abyss, and common sense tells us that our
          |
          strong.caption(onclick="void(0)" data-title="[iɡˈzistəns]" data-text=`
            Existence, the fact or state of living or having objective reality.
            Any of a person's supposed current, future, or past lives on this earth.
          `) existence
          |
          | is but a brief crack of light between two eternities of darkness.
        p.author Vladimir Nabokov
