:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #0f0c29;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 70px;
  color: #000;
  font-size: 25px;
  font-weight: 300;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  background: #fff;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  z-index: 2;
  content: 'Hover me';
}

.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 70px;
  background: #faaca8;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  content: '';
  transform: translate(20px, 20px);
}

.button:hover::before {
  background: #faaca8;
  color: #fff;
  transform: translate(20px, 20px);
}

.button:hover::after {
  background: #fff;
  transform: translate(0, 0);
}
