:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.boxes {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.box {
  position: relative;
  width: 20%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  flex: 1 1 auto;
}

.box:nth-child(2n) {
  background: #fbd3e9;
}

.box:nth-child(2n+1) {
  background: #bb377d;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transition: all 0.5s ease-in-out;
  color: transparent;
  font-size: 30px;
  font-weight: 800;
  transform: translate(-50%, -50%) scale(0);
  user-select: none;
}

.box:hover {
  width: 100%;
}

.box:hover span {
  color: white;
  transform: translate(-50%, -50%) scale(1);
}
