doctype html
html
  head
    style
      include index.css
  body
    .frame
      .boxes
        .box.first(onclick="void(0)")
          span FIRST
        .box.second(onclick="void(0)")
          span SECOND
        .box.third(onclick="void(0)")
          span THIRD
        .box.fourth(onclick="void(0)")
          span FOURTH
