doctype html
html
  head
    style
      include index.css
  body
    .frame
      .card
        .day Friday
        .date 15
      .card
        .day Saturday
        .date 16
      .card
        .day Sunday
        .date 17
      .card
        .day Monday
        .date 18
