:root {
  --frame: 400px;
}

* {
  box-sizing: border-box;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  justify-content: center;
  float: left;
  width: 50%;
  height: 50%;
  background-color: #ffa17f;
  transition: all 0.3s ease-in-out;
  color: white;
  text-align: center;
  cursor: pointer;
  flex-direction: column;
}

.day {
  font-size: 16px;
}

.date {
  font-size: 56px;
  font-weight: 700;
}

.card:hover {
  box-shadow: inset 0 0 10px white;
  transform: scale(0.95);
}
