doctype html
html
  head
    style
      include index.css
    link(
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    )
  body
    .frame
      input#check(type="checkbox")
      each val in [1, 2, 3, 4]
        .container
          img(src=`./assets/13-${val}.jpg`)
          .overlay
          label.plus(for="check")
      .profile
        label.plus.close(for="check")
        .avatar
          img(src=`./assets/13-1.jpg`)
        img.header(src=`./assets/13-1-header.jpg`)
        .info
          .btns
            span.fa.fa-phone
            span.fa.fa-comment
            span.fa.fa-heart
          .username Julia Toth
