doctype html
html
  head
    style
      include index.css
  body
    .frame
      input#check(type="checkbox")
      label.menu(for="check")
        .line.line-1
        .line.line-2
        .line.line-3
