:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: linear-gradient(to right, #4a569d, #dc2424);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  display: none;
}

label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 4px 8px 12px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  transform: translate(-50%, -50%) rotateX(0);
  transform-style: preserve-3d;
}

input[type="checkbox"]:checked + label {
  box-shadow: 4px -8px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) rotateX(180deg);
}

.send,
.done {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid #fff;
  border-radius: 25px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

.send {
  background: #fff;
  color: #000;
  transform: translateZ(0.1px);
}

.done {
  background: #64c760;
  color: #fff;
  transform: translateZ(-0.1px) rotateX(180deg);
}
