doctype html
html
  head
    style
      include index.css
  body
    .frame
      input#button(type="checkbox")
      label(for="button")
        .send.button-face send
        .done.button-face done
