$frame: 400px;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $frame;
  width: $frame;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: linear-gradient(to left, #6be585, #dd3e54);
}

.egg {
  position: absolute;
  top: 135px;
  left: 150px;
  width: 100px;
  height: 130px;
  border-radius: 50% / 80px 80px 50px 50px;
  background: #ffefd5;
  box-shadow: inset -8px -8px 25px rgba(112, 105, 93, 1);
  transform-origin: 50% 80%;
  animation: egg 3s ease-in-out infinite;
}

.shadow {
  position: absolute;
  top: 270px;
  left: 200px;
  transform: translate3d(-50%, -50%, 0);
  width: 100px;
  height: 30px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
  animation: shadow 3s linear infinite;
}

@keyframes shadow {
  0%,
  87%,
  100% {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }

  25% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  84% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }

  85% {
    transform: translate3d(-50%, -50%, 0) scale(0.8);
  }
}

@keyframes egg {
  0% {
    transform: translate3d(0, -350px, 0) scale(0.8, 1.2);
  }

  25% {
    transform: translate3d(0, 20px, 0) scale(1.05, 0.9);
  }

  30% {
    transform: translate3d(0, -20px, 0) scale(0.95, 1.02);
  }

  35% {
    transform: translate3d(0, 10px, 0) scale(1.01, 0.98);
  }

  40%,
  45% {
    transform: translate3d(0, 0, 0) scale(1) rotate(0);
  }

  50% {
    transform: translate3d(0, 0, 0) scale(1) rotate(5deg);
  }

  55% {
    transform: translate3d(0, 0, 0) scale(1) rotate(-5deg);
  }

  60% {
    transform: translate3d(0, 0, 0) scale(1) rotate(5deg);
  }

  65%,
  70% {
    transform: translate3d(0, 0, 0) scale(1) rotate(0deg);
  }

  75% {
    transform: translate3d(0, 10px, 0) scale(1.01, 0.98);
  }

  80% {
    transform: translate3d(0, -20px, 0) scale(1.02, 0.95);
  }

  100% {
    transform: translate3d(0, 350px, 0) scale(0.9, 1.1);
  }
}
