doctype html
html
  head
    style
      include index.css
  body
    .frame
      - var number = 0
      .counter
        #minus
        #number
          div
          div
        #plus
    script(src="index.ts")
