:root {
  --frame: 400px;
  --color-background: #2b3642;
  --color-panel-top: #3d4d5e;
  --color-panel-background: #fff;
  --color-panel-active: #5da2ed;
  --color-icon: #8398ad;
  --color-icon-active: #fff;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: var(--color-background);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.panel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 240px;
  background: var(--color-panel-background);
  transform: translate(-50%, -50%);
}

input[type=radio] {
  display: none;
}

.tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: var(--color-panel-top);
}

.tab__icon {
  position: relative;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  transition: color 0.3s ease-in-out, background-color 0.5s ease-in-out;
  color: var(--color-icon);
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.tab__icon:hover {
  color: var(--color-icon-active);
}

.tab__icon-right {
  float: right;
}

input[type=radio]:checked + label {
  background: var(--color-panel-active);
  color: var(--color-icon-active);
}

section {
  position: absolute;
  top: 40px;
  height: 200px;
  width: 100%;
}

section > div {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in;
  box-sizing: border-box;
  transform: translateY(8px);
}

h1 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

#tab-1:checked ~ section .block-1,
#tab-2:checked ~ section .block-2,
#tab-3:checked ~ section .block-3,
#tab-4:checked ~ section .block-4 {
  opacity: 1;
  transition: all 0.5s ease-out 0.4s;
  pointer-events: all;
  transform: translateY(0);
}
