$frame: 400px;
$size: 20;
$color: #fffbd5;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $frame;
  height: $frame;
  background: #f27121;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.grid {
  position: relative;
  float: left;
  width: calc($frame/$size);
  height: calc($frame/$size);
  background: none;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

.dot {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: 3px;
  width: 20px;
  height: 20px;
  background: $color;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  cursor: pointer;
  box-sizing: border-box;
  transform: translate3d(200px, 200px, 0);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid $color;
    border-radius: 50%;
    animation: pulsate 1.5s ease-in-out infinite;
    box-sizing: border-box;
    content: '';
  }
}

@keyframes pulsate {
  0% {
    opacity: 1;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}

@for $i from 0 to 19 {
  @for $j from 0 to 19 {
    $pixels: calc($frame/$size);
    $top: calc($i * $pixels + $pixels / 2);
    $left: calc($j * $pixels + $pixels / 2);

    .grid-$(i)-$(j):hover ~ .dot {
      transform: translate3d($left, $top, 0);
    }
  }
}
