doctype html
html
  head
    style
      include index.css
  body
    .frame
      .pagination
        input.input#r-1(type='radio' name='page')
        label.button.b1(for='r-1') 1
        input.input#r-2(type='radio' name='page')
        label.button.b2(for='r-2') 2
        input.input#r-3(type='radio' name='page')
        label.button.b3(for='r-3') 3
        input.input#r-4(type='radio' name='page')
        label.button.b4(for='r-4') 4
