doctype html
html
  head
    style
      include index.css
  body
    .frame
      .head
        .ear.ear-left
        .ear.ear-right
        .eye.eye-left
        .eye.eye-right
        .snout
          .nostril.nostril-left
          .nostril.nostril-right
