doctype html
html
  head
    style
      include index.css
  body
    .frame
      .container
        svg#bulb(onclick="void(0)" height="93.5" width="76")
          include assets/bulb
        .glow
        svg#base(height="33" width="32")
          include assets/bulb-seat
