doctype html
html
  head
    style
      include index.css
  body
    .frame
      .gem
        .bottom-left
        .bottom-center
        .bottom-right
        .top-left-left
        .top-left
        .top-center
        .top-right
          .flash
        .top-right-right

