doctype html
html
  head
    style
      include index.css
  body
    .frame
      .cube
        .side.top TOP
        .side.left LEFT
        .side.back BACK
        .side.front FRONT
        .side.right RIGHT
        .side.bottom BOTTOM
