:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #1f8de4;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

.square {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 300px;
  height: 300px;
  border: 1px solid white;
}

@for $i from 1 to 18 {
  #square-$i {
    animation: square-$i 5s ease-in-out infinite;
  }

  @keyframes square-$i {
    0% {
      border-radius: 0;
      transform: rotate(0);
    }

    50% {
      border-radius: 50%;
      transform: rotate(calc(360deg - $i * 10deg)) scaleX(0.3);
    }

    100% {
      border-radius: 0;
      transform: rotate(540deg) scaleX(1);
    }
  }
}
