doctype html
html
  head
    style
      include index.css
  body
    .frame
      .bell-wrapper
        include assets/bell
      .ripples
        .ripple.one
        .ripple.two
        .ripple.three
