:root {
  --frame: 400px;
  --bezier: cubic-bezier(0.4, 0.96, 0.46, 1);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #e56262;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.dot {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

.dot-1 {
  height: 90px;
  width: 90px;
  animation: dot-1 2s var(--bezier) infinite alternate;
}

.dot-2 {
  height: 60px;
  width: 60px;
  animation: dot-2 2s var(--bezier) infinite alternate;
}

.dot-3 {
  height: 30px;
  width: 30px;
  animation: dot-3 2s var(--bezier) infinite alternate;
}

@keyframes dot-1 {
  0% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dot-2 {
  0%,
  35% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dot-3 {
  0%,
  70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) scale(1);
  }
}
