:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #3f3f3f;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Open Sans", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

input[type="checkbox"] {
  display: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  height: 210px;
  background: #fff;
  border-radius: 3px;
  text-align: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.container label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #f65656;
  transition: background 0.5s ease;
  color: white;
  font-size: 14px;
  font-weight: 200;
  line-height: 40px;
  cursor: pointer;
}

.container label:hover {
  background: #ec3434;
}

.container img {
  margin: 24px auto auto;
  width: 44px;
}

.container h1 {
  margin: 14px 0 5px 0;
  color: #415868;
  font-size: 18px;
  font-weight: 400;
}

.container p {
  padding: 0 30px;
  color: #415868;
  font-size: 14px;
  font-weight: 200;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked ~ .container {
  animation: fade-out 0.6s ease-in-out both;
}

input[type="checkbox"]:not(:checked) ~ .container {
  animation: fade-in 0.7s ease-in-out both;
}

@keyframes fade-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  60% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  80% {
    transform: translate(-50%, -50%) scale(0.95);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fade-out {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  20% {
    transform: translate(-50%, -50%) scale(1.1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}
