doctype html
html
  head
    style
      include index.css
  body
    .frame
      input#check(type="checkbox")
      .container
        img(src="./assets/alert.png")
        h1 Oh snap!
        p An error has occured while creating an error report.
        label(for="check") Dismiss
      label.label(for="check")
