doctype html
html
  head
    style
      include index.css
  body
    .frame
      .wrapper
        .input
          input(type="text" placeholder="Enter 'password'")
          .backside Secret Key
        .key MD5-SU3-CX8
    script
      include index.js
