:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #34495e;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 50px;
  filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.3));
  perspective: 250px;
  transform: translate(-50%, -50%);
}

.input {
  position: absolute;
  width: 220px;
  height: 50px;
  transition: all 0.4s ease-in-out;
  z-index: 3;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
}

.input.active {
  transform: rotateX(180deg);
}

input,
.backside,
.key {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 50px;
  background: #fff;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
}

input {
  border: none;
  outline: none;
}

.backside {
  font-weight: 500;
  transform: rotateX(180deg);
  user-select: none;
}

.key {
  background: #64c760;
  color: #fff;
  user-select: none;
}
