:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #1f8de4;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

.circle {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
}

@for $i from 1 to 10 {
  #circle-$i {
    animation: circle-$i 5s ease-in-out infinite;
  }
}

@keyframes circle-1 {
  0%,
  4% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-2 {
  0%,
  8% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-3 {
  0%,
  12% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-4 {
  0%,
  16% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-5 {
  0%,
  20% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-6 {
  0%,
  24% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-7 {
  0%,
  28% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-8 {
  0%,
  32% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-9 {
  0%,
  36% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}

@keyframes circle-10 {
  0%,
  40% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(0);
  }
}
