doctype html
html
  head
    style
      include index.css
  body
    .frame
      .wrapper
        .number
          .one
          .one-thingy
          .zero.zero-1
          .zero.zero-2
        .big days
        .small css challenge
