:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #1a2a6c;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
  user-select: none;
}

.plane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: #f27121;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.text {
  position: absolute;
  top: 170px;
  left: 0;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  pointer-events: none;
  text-transform: uppercase;
}

.plane .text {
  color: transparent !important;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}

@for $i from 1 to 200 {
  .trigger-$i {
    height: 2px;
    width: 100%;
    cursor: pointer;
  }

  .trigger-$i:hover ~ .plane {
    height: calc(2px * $i);
    transition: none;
  }
}
