doctype html
html
  head
    style
      include index.css
  body
    .frame
      input(type="checkbox" id="button")
      label(for="button") Finish
        img(src="./assets/checkmark-green.svg")
      svg.circle
        circle.svg-circle(cx=30 cy=30 r=29)
