:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #2b4147;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: #7a7a7a;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.thermostat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  background: #fff;
  background: linear-gradient(to right, rgb(25, 7, 138), rgb(291, 0, 34));
  background: conic-gradient(from 180deg, #32d, #f15);
  border-radius: 50%;
  box-shadow: inset 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
}

.ring::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: #fff;
  content: '';
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.control {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  width: 130px;
  height: 130px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  user-select: none;
}

.big-temp {
  height: 60px;
}

.temp1,
.temp2 {
  position: absolute;
  right: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  color: #873183;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -8px;
}

.temp1 {
  padding-right: 8px;
}

.temp2 {
  padding-right: 2px;
  opacity: 0;
  transform: translateX(50px) scale(0.3);
}

.small-temp,
.room {
  position: relative;
  font-size: 12px;
  font-weight: 300;
}

.small-temp::after {
  position: absolute;
  top: -2px;
  right: calc(50% - 12px);
  font-size: 7px;
  content: 'o';
}

.temp1::after,
.temp2::after {
  position: absolute;
  top: 2px;
  right: calc(50% - 28px);
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  content: 'o';
}

.indicator {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 12px;
  background: #6c6c6c;
  transition: all 0.5s ease-in-out;
  transform: rotate(-50deg);
  transform-origin: 0 65px;
}

.thermostat:hover .indicator {
  transform: rotate(-25deg);
}

.thermostat:hover .temp1 {
  opacity: 0;
  transform: translateX(-50px) scale(0.3);
}

.thermostat:hover .temp2 {
  opacity: 1;
  transform: translateX(0) scale(1);
}
