doctype html
html
  head
    style
      include index.css
  body
    .frame
      .thermostat(onclick="void(0)")
        .ring
        .control
          .indicator
          .small-temp 23
          .big-temp
            .temp1 19
            .temp2 20
          .room Bedroom
