:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #e3e7ea;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 30px;
  width: 200px;
  height: 280px;
  background: linear-gradient(45deg, color(#6f0000 shade(80%)), #6f0000);
  border-radius: 2px 6px 6px 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  user-select: none;
}

.book::after {
  position: absolute;
  top: -1px;
  right: 20px;
  display: block;
  width: 10px;
  height: 282px;
  background:
    linear-gradient(
      to right,
      color(red shade(20%)) 0%,
      color(red shade(10%)) 12%,
      color(red shade(15%)) 25%,
      color(red shade(15%)) 75%,
      color(red shade(10%)) 88%,
      color(red shade(20%)) 100%
    );
  border-radius: 1px;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.3);

  /* #200122 */
  content: '';
}

.book::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 100%;
  background:
    linear-gradient(
      to right,
      color(#200122 w(50%)) 0%,
      color(#200122 w(50%)) 50%,
      color(#200122 shade(40%)) 51%,
      color(#200122 shade(40%)) 100%
    );
  border-radius: 2px 0 0 2px;
  content: '';
}

.title {
  width: 100px;
  color: color(white blend(#6f0000 8%));
  font-size: 28px;
  font-weight: 500;
  text-shadow: rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subtitle {
  margin-top: 10px;
  width: 100px;
  color: color(white blend(#6f0000 5%));
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: lowercase;
}
