doctype html
html
  head
    style
      include index.css
  body
    .frame
      .container
        .profile
          .avatar
            .circle.circle-1
            .circle.circle-2
            img(src="./assets/jessica-potter.jpg")
          .info
            p.strong Jessica Potter
            p Visual Artist
            .actions
              button Follow
              button Message
        .stats
          div(onclick="void(0)")
            p.strong 523
            p Posts
          div(onclick="void(0)")
            p.strong 1387
            p Likes
          div(onclick="void(0)")
            p.strong 146
            p Followers
