:root {
  --frame: 400px;
  --color-primary: #786450;
  --color-secondary: #f5e8df;
  --color-secondary-shade: #e1cfc2;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: var(--color-primary);
  font-family: "Open Sans", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
  user-select: none;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: stretch;
  width: 320px;
  height: 299px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: translate(-50%, -50%);
}

/* profile */

.profile {
  position: relative;
  text-align: center;
  flex: 1.8;
}

.profile button {
  display: block;
  margin: 10px auto;
  width: 120px;
  height: 30px;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  outline: none;
  transition: all 0.5s ease;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  box-sizing: border-box;
}

.profile .actions {
  margin-top: 33px;
}

.profile button:hover {
  background: var(--color-primary);
  color: #fff;
}

.profile p {
  margin: 3px auto;
  font-size: 11px;
}

.profile p.strong {
  margin-top: 130px;
  font-size: 15px;
  font-weight: 600;
}

.profile .avatar {
  position: absolute;
  top: 38px;
  left: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transform: translateX(-50%);
}

.profile .avatar img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.profile .avatar .circle {
  position: absolute;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
}

.profile .avatar .circle-1 {
  top: -3px;
  left: -3px;
  width: 76px;
  height: 76px;
  border-left-color: transparent !important;
}

.profile .avatar .circle-2 {
  top: -6px;
  left: -6px;
  width: 82px;
  height: 82px;
  border-right-color: transparent !important;
}

.profile .avatar:hover .circle-1 {
  transform: rotate(360deg);
}

.profile .avatar:hover .circle-2 {
  transform: rotate(-360deg);
}

/* stats */

.stats {
  width: 80px;
  flex: 1;
}

.stats div {
  padding-top: 32px;
  width: 100%;
  height: 99px;
  background: var(--color-secondary);
  transition: background 0.5s ease;
  cursor: pointer;
  box-sizing: border-box;
  flex: 1;
}

.stats div:hover {
  background: var(--color-secondary-shade);
}

.stats div:not(:first-child) {
  margin-top: 1px;
}

.stats div p {
  margin: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  flex: none;
}

.stats div p:first-child {
  font-size: 18px;
  font-weight: 600;
}
