doctype html
html
  head
    style
      include index.css
  body
    .frame
      .text I am a
      .rolling-text
        .roll
          .text Programmer
          .text Reader
          .text Dreamer
          .text Girlfriend
          .text Big Green Snake
          .text Programmer
