doctype html
html
  head
    style
      include index.css
  body
    .frame
      .icosahedron
        .top
          .side#side-1
          .side#side-2
          .side#side-3
          .side#side-4
          .side#side-5
        .bottom
          .side#side-6
          .side#side-7
          .side#side-8
          .side#side-9
          .side#side-10
        .side-one
          .side#side-11
          .side#side-12
          .side#side-13
          .side#side-14
          .side#side-15
        .side-two
          .side#side-16
          .side#side-17
          .side#side-18
          .side#side-19
          .side#side-20
