:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #d33526;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.ball {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 200px;
  width: 200px;
  animation: ball 7s ease-in-out infinite;
  transform-style: preserve-3d;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
  background: #fff4;
  border-radius: 50%;
}

@for $i from 1 to 6 {
  #circle-$i {
    transform: rotateX(calc($i * 180deg / 6));
  }
}

@keyframes ball {
  0% {
    transform: rotateY(0) rotateX(0) rotateZ(0);
  }

  25% {
    transform: rotateY(45deg) rotateX(180deg) rotateZ(45deg);
  }

  50% {
    transform: rotateY(255deg) rotateX(0deg) rotateZ(90deg);
  }

  75% {
    transform: rotateY(0deg) rotateX(45deg) rotateZ(135deg);
  }

  100% {
    transform: rotateY(0) rotateX(0) rotateZ(0);
  }
}
