:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #faaca8;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  border: 2px dotted #fff;
  border-radius: 50%;
}

@for $i from 1 to 50 {
  .circle-$i {
    animation: circle 10s ease-in-out calc(1s * $i / -5) infinite both;
  }
}

@keyframes circle {
  0% {
    opacity: 0.4;
    transform: scale(0) translate(-200px, -200px);
  }

  100% {
    opacity: 1;
    transform: scale(3.5);
  }
}
