:root {
  --frame-size: 400px;
  --track-height: 4px;
  --track-color: #1a2a6c;
  --track-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  --thumb-size: 24px;
  --thumb-color: #1a2a6c;
  --thumb-border-width: 2px;
  --thumb-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame-size);
  height: var(--frame-size);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.range-outer-box {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  padding: 5px 15px;
  width: 300px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

@define-mixin track {
  height: var(--track-height);
  border-radius: var(--track-height);
  box-shadow: var(--track-shadow);
  background: var(--track-color);
  border: none;
  outline: none;

  /* clear user agent styles */
  -webkit-appearance: none;
}

@define-mixin thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: #fff;
  border: var(--thumb-border-width) solid var(--thumb-color);
  border-radius: var(--thumb-size);
  box-shadow: var(--thumb-shadow);
  cursor: pointer;

  /* clear user agent styles */
  -webkit-appearance: none;
}

input[type="range"] {
  margin: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: 0;

  /* clear user agent styles */
  -webkit-appearance: none;
  box-sizing: border-box;

  /* clear firefox focus */
  &::-moz-focus-outer {
    border: 0;
  }

  /* track */
  &::-webkit-slider-runnable-track {
    @mixin track;
  }

  &::-moz-range-track {
    @mixin track;
  }

  &::-ms-track {
    @mixin track;

    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Outline thing on IE */
  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: var(--track-color);
    border: none;
    border-radius: 50%;
  }

  /* thumb */
  &::-webkit-slider-thumb {
    @mixin thumb;

    margin-top: calc(-1 * (var(--thumb-size) / 2 - var(--thumb-border-width)));
  }

  &::-moz-range-thumb {
    @mixin thumb;
  }

  &::-ms-thumb {
    @mixin thumb;
  }
}
