:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #34495e;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

.balls {
  position: absolute;
  top: 130px;
  left: 100px;
  height: 140px;
  width: 200px;
  padding-top: 100px;
}

.balls::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: #bdc3c7;
  border-radius: 3px;
  content: '';
}

.ball {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  transform-origin: 50% -100px;
}

.ball::before {
  position: absolute;
  top: -100px;
  left: 20px;
  width: 1px;
  height: 100px;
  background: #bdc3c7;
  content: '';
}

.ball:first-child {
  animation: ball-1 0.8s cubic-bezier(0.39, 0.58, 0.57, 1) alternate infinite;
}

.ball:last-child {
  animation: ball-2 0.8s cubic-bezier(0.39, 0.58, 0.57, 1) 0.8s alternate infinite;
}

@keyframes ball-1 {
  0%,
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes ball-2 {
  0%,
  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}
