doctype html
html
  head
    style
      include index.css
  body
    .frame
      .wrapper
        .text.small#collect it's a cruel
        .bracket.left-bracket
        .text.big summer
        .bracket.right-bracket
        .text.small#not-things with you
        .circle
        .line
        .hide.top
        .hide.bottom
