doctype html
html
  head
    style
      include index.css
  body
    .frame
      .wrapper
        .text.small#collect collect
        .bracket.left-bracket
        .text.big moments
        .bracket.right-bracket
        .text.small#not-things not things
        .circle
        .line
        .hide.top
        .hide.bottom
