:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #2165b2, #ff8181, #ffce54, #58c584, #2165b2);
  background-size: 600% 600%;
  animation: background 6s linear infinite alternate;
}

@keyframes background {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}
