$frame: 400px;
$color: rgba(0, 0, 0, 0.5);
$textColor: white;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: $frame;
  width: $frame;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
}

input {
  display: none;
}

label {
  position: absolute;
  top: 240px;
  left: calc($frame / 2 - 8px);
  width: 16px;
  height: 20px;
  cursor: pointer;

  .play {
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transform: scale(0);
    opacity: 0;
    border-left: 16px solid $color;
    border-right: 0 solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  .pause {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 20px;
    transform: scale(1);
    opacity: 1;
    border-left: 5px solid $color;
    border-right: 5px solid $color;
    transition: all 0.3s ease-in-out;
  }
}

input:checked ~ .button {
  .play {
    transform: scale(1);
    opacity: 1;
  }

  .pause {
    transform: scale(0);
    opacity: 0;
  }
}

input:checked ~ .counter {
  .thousand,
  .hundred,
  .ten,
  .digit {
    animation-play-state: paused;
  }
}

.counter {
  display: flex;
  width: 100px;
  height: 40px;
  position: relative;
  top: calc($frame / 2 - 20px);
  left: calc($frame / 2 - 50px);
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  background: $color;
  border-radius: 4px;
  padding: 0 6px;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

.number {
  flex: auto;
  position: relative;
  width: 25%;
  height: calc(10 * 40px);

  &.thousand {
    animation: count 10000s steps(1) infinite;
  }
  &.hundred {
    animation: count 1000s steps(1) infinite;
  }
  &.ten {
    animation: count 100s steps(1) infinite;
  }
  &.digit {
    animation: count 10s steps(1) infinite;
  }

  span {
    height: 40px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: center;
    font-size: 26px;
    color: $textColor;
    line-height: 40px;
    font-weight: 200;
  }
}

@keyframes count {
  @for $i from 0 to 9 {
    $delta:calc($i * -1 * 40px);
    $(i)0% {
      transform: translateY($delta);
    }
  }
}
