$frame: 400px;
$size: 20;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $frame;
  height: $frame;
  background: #de4738;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

input {
  display: none;
}

label {
  display: block;
  float: left;
  width: calc($frame/$size);
  height: calc($frame/$size);
  border: 1px solid #e24e3f;
  cursor: pointer;
  box-sizing: border-box;
}

label:hover {
  background: #ec5142;
  border-color: #e24e3f;
}

input:checked + label {
  background: #fff;
  border-color: #fff;
}
