doctype html
html
  head
    style
      include index.css
  body
    .frame
      .center
        input#check(type="checkbox")
        label(for="check").shield.one
          .left
          .right
        label(for="check").shield.two
          .left
          .right
