:root {
  --frame: 400px;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #000;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000;
  transform: translate(-50%, -50%);
}

.frame:hover .square {
  animation-play-state: paused;
}

@for $i from 1 to 20 {
  .square-$i {
    $color: calc(255 - 9 * ($i - 1));

    width: calc(10px * $i);
    height: calc(10px * $i);
    border: 1px solid rgba($color, $color, $color);
    animation: squares 2s ease-in-out calc($i / 30) s alternate infinite;
  }
}

@keyframes squares {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
