doctype html
html
  head
    style
      include index.css
  body
    .frame
      .wrapper
        .cube(onclick="void(0)")
          .side.top
          .side.bottom
          .side.left
          .side.right
          .side.front
          .side.back
          .side.fill
