:root {
  --frame: 400px;
  --color-primary: rgba(46, 204, 113, 0.8);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--frame);
  height: var(--frame);
  background: #34495e;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, sans-serif;
  overflow: hidden;
  perspective: 500px;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: absolute;
  top: 140px;
  left: 140px;
  width: 120px;
  height: 120px;
}

.cube {
  width: 120px;
  height: 120px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  transform: rotateX(-25deg) rotateY(45deg);
  transform-style: preserve-3d;
}

.cube:hover {
  transform: rotateX(-25deg) rotateY(45deg) translateY(-15px);
}

.cube:hover .bottom {
  box-shadow: -22px 22px 30px 0 rgba(0, 0, 0, 0.4);
}

.side {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: rgba(0, 0, 0, 0.1);
}

.side.bottom {
  background: var(--color-primary);
  box-shadow: -8px 8px 10px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
  transform: translateY(60px) rotateX(90deg);
}

.side.top {
  opacity: 0.5;
  transform: translateY(-60px) rotateX(90deg);
}

.side.left {
  transform: translateX(-60px) rotateY(90deg);
}

.side.right {
  transform: translateX(60px) rotateY(90deg);
}

.side.front {
  transform: translateZ(60px);
}

.side.back {
  transform: translateZ(-60px);
}

.side.fill {
  background: var(--color-primary);
  animation: fill-top 4s ease-in-out infinite alternate;
}

.side.left::before,
.side.right::before,
.side.front::before,
.side.back::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-primary);
  animation: fill 4s ease-in-out infinite alternate;
  content: '';
  transform-origin: 50% 100%;
}

@keyframes fill {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes fill-top {
  0% {
    transform: translateY(60px) rotateX(90deg);
  }

  100% {
    transform: translateY(-59px) rotateX(90deg);
  }
}
